In [2]:
import pandas as pd

wgu_df = pd.read_csv('medical_clean.csv')
wgu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  TimeZone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            10000 non-null  int64
 15  Age                 10000 non-null  int64
 16  Income              10000 non-null  float64
 17  Marital             10000 non-null  object
 18  Gender              10000 non-null  object
 19  ReAdmis             10000 non-null  object
 20  VitD_levels         10000 non-null  float64
 21  Doc_visits          10000 non-null  int64
 22  Full_meals_eaten    10000 non-null  int64
 23  vitD_supp           10000 non-null  int64
 24  Soft_drink          10000 non-null  object
 25  Initial_admin       10000 non-null  object
 26  HighBlood           10000 non-null  object
 27  Stroke              10000 non-null  object
 28  Complication_risk   10000 non-null  object
 29  Overweight          10000 non-null  object
 30  Arthritis           10000 non-null  object
 31  Diabetes            10000 non-null  object
 32  Hyperlipidemia      10000 non-null  object
 33  BackPain            10000 non-null  object
 34  Anxiety             10000 non-null  object
 35  Allergic_rhinitis   10000 non-null  object
 36  Reflux_esophagitis  10000 non-null  object
 37  Asthma              10000 non-null  object
 38  Services            10000 non-null  object
 39  Initial_days        10000 non-null  float64
 40  TotalCharge         10000 non-null  float64
 41  Additional_charges  10000 non-null  float64
 42  Item1               10000 non-null  int64
 43  Item2               10000 non-null  int64
 44  Item3               10000 non-null  int64
 45  Item4               10000 non-null  int64
 46  Item5               10000 non-null  int64
 47  Item6               10000 non-null  int64
 48  Item7               10000 non-null  int64
 49  Item8               10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [4]:
wgu_df = wgu_df[["Children", "Age", "Income", "Gender", "ReAdmis", "Initial_days", "HighBlood", "Diabetes", "Asthma"]]
wgu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Children      10000 non-null  int64
 1   Age           10000 non-null  int64
 2   Income        10000 non-null  float64
 3   Gender        10000 non-null  object
 4   ReAdmis       10000 non-null  object
 5   Initial_days  10000 non-null  float64
 6   HighBlood     10000 non-null  object
 7   Diabetes      10000 non-null  object
 8   Asthma        10000 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [8]:
wgu_df["Source"] = "WGU"

In [10]:
rad_df = pd.read_csv('readmission_data (1).csv')
rad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patient_id               1000 non-null   int64
 1   admission_date           1000 non-null   object
 2   num_diagnoses            1000 non-null   int64
 3   num_procedures           1000 non-null   int64
 4   num_external_injuries    1000 non-null   int64
 5   length_of_stay           1000 non-null   int64
 6   median_household_income  1000 non-null   float64
 7   insurance_type           1000 non-null   object
 8   age                      1000 non-null   int64
 9   gender                   1000 non-null   object
 10  readmitted               1000 non-null   int64
 11  diagnoses                1000 non-null   object
 12  external_injuries        1000 non-null   object
 13  home                     1000 non-null   object
 14  facility                 1000 non-null   object
 15  homeless                 1000 non-null   object
 16  discharge_date           1000 non-null   object
dtypes: float64(1), int64(7), object(9)
memory usage: 132.9+ KB

In [12]:
rad_df = rad_df[["length_of_stay", "median_household_income", "insurance_type", "age", "gender", "readmitted", "diagnoses"]]
rad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   length_of_stay           1000 non-null   int64
 1   median_household_income  1000 non-null   float64
 2   insurance_type           1000 non-null   object
 3   age                      1000 non-null   int64
 4   gender                   1000 non-null   object
 5   readmitted               1000 non-null   int64
 6   diagnoses                1000 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [28]:
print(rad_df["readmitted"])

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    1
999    0
Name: readmitted, Length: 1000, dtype: int64

In [32]:
bool_map = {1: "Yes", 0: "No"}
rad_df["readmitted"] = rad_df["readmitted"].map(bool_map)

print(rad_df["readmitted"].unique())

['No' 'Yes']

In [34]:
print(rad_df["readmitted"])

0       No
1       No
2       No
3       No
4       No
      ...
995     No
996     No
997     No
998    Yes
999     No
Name: readmitted, Length: 1000, dtype: object

In [36]:
rad_df["Source"] = "RaD"

In [44]:
comb_df = pd.concat([wgu_df, rad_df], axis = 1)

In [46]:
comb_df.to_csv('comb_df_d210.csv', index = False)